<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 *ngIf="!createAccount" class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign in to your account
      </h2>
      <h2 *ngIf="createAccount" class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Create account
      </h2>
    </div>
    <form class="mt-8 space-y-6" [formGroup]="form" (ngSubmit)="auth()">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="username" class="sr-only">Username</label>
          <input id="username" formControlName="username" type="text" autocomplete="username" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-amber-500 focus:border-amber-500 focus:z-10 sm:text-sm"
            placeholder="Username">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" formControlName="password" type="password" autocomplete="current-password" required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-amber-500 focus:border-amber-500 focus:z-10 sm:text-sm"
            placeholder="Password">
        </div>
      </div>
      <div>
        <button type="submit"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-amber-600 hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">
          <span *ngIf="!createAccount">Sign in</span>
          <span *ngIf="createAccount">Sign up</span>
        </button>
      </div>
    </form>
    <p *ngIf="!createAccount" class="mt-2 text-center text-sm text-gray-600">
      Don't have an account?
      <button (click)="createAccount=true" class="font-medium text-amber-600 hover:text-amber-500">
        Sign up
      </button>
    </p>
    <p *ngIf="createAccount" class="mt-2 text-center text-sm text-gray-600">
      Already have an account?
      <button (click)="createAccount=false" class="font-medium text-amber-600 hover:text-amber-500">
        Login
      </button>
    </p>
  </div>
</div>