<main class="bg-gradient-to-br from-[#F48982] to-[#FBDB89]">
  <div class="max-w-2xl mx-auto py-8 px-4 sm:py-10 sm:px-6 lg:max-w-screen-2xl lg:px-8">
    <div class="bg-white rounded-md">
      <div class="h-[80vh] overflow-hidden">
        <div class="h-full grid grid-cols-6 gap-8">
          <div class="h-[80vh] overflow-y-auto col-span-1 p-6">
            <div class="space-y-8">
              <div>
                <h2 class="text-xl leading-6 font-semibold text-gray-900">Weddings</h2>
                <p class="mt-2 text-sm text-gray-500">The best wedding meals and snacks</p>
              </div>
              <div>
                <h2 class="text-xl leading-6 font-semibold text-gray-900">Parties</h2>
                <p class="mt-2 text-sm text-gray-500">We got the party rocking</p>
              </div>
              <div>
                <h2 class="text-xl leading-6 font-semibold text-gray-900">Events</h2>
                <p class="mt-2 text-sm text-gray-500">And many more!</p>
              </div>
            </div>
          </div>
          <div class="h-[73vh] overflow-y-auto col-span-3 my-8 pr-8 ">
            <ng-container *ngFor="let meal of meals; let i = index">
              <div [ngClass]="{'-mt-6': i === 0}" class="py-6 border-b">
                <div class="flex space-x-6">
                  <img [alt]="meal.thumbnail_alt_text" [src]="meal.thumbnail_url"
                    class="w-52 h-52 object-cover flex-shrink-0">
                  <div class="space-y-6 flex-grow">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">{{meal.name}}</h3>
                    <div>
                      <h3 class="text-sm font-medium text-gray-900">Topics</h3>
                      <div class="mt-4">
                        <ul class="pl-4 list-disc text-sm space-y-2" role="list">
                          <li *ngFor="let topic of meal.topics" class="text-gray-400"><span
                              class="text-gray-600">{{topic.name}}</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-6 flex-shrink-0 max-w-[10rem]">
                    <div>
                      <button (click)="onAddMeal(meal)"
                        class="flex justify-center items-center px-6 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-amber-600 hover:bg-amber-700">
                        Select this meal
                      </button>
                    </div>
                    <div>
                      <h3 class="text-sm font-medium text-gray-900">Tags</h3>
                      <div class="mt-4 space-x-x">
                        <span *ngFor="let tag of meal.tags"
                          class="inline-block text-gray-600 text-xs py-1 px-2 bg-gray-100 rounded-xl">{{tag.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="h-[73vh] overflow-y-auto col-span-2 my-8 pr-8">
            <div class="bg-gray-100 p-6 rounded-md">
              <h2 class="text-xl leading-6 font-semibold text-gray-900">Order summary</h2>
              <div>
                <ng-container *ngFor="let meal of mealsCollection">
                  <div class="py-6">
                    <div class="flex space-x-6">
                      <img [alt]="meal?.thumbnail_alt_text" [src]="meal?.thumbnail_url"
                        class="w-16 h-16 object-cover flex-shrink-0">
                      <div class="space-y-4">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">{{meal?.name}}</h3>
                        <p class="text-xs text-gray-700">{{meal?.brand?.name}}</p>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="mt-6">
                <a class="flex justify-center items-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-amber-600 hover:bg-amber-700"
                  href="#">Confirmed</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>