<div class="min-h-full">
  <nav class="bg-amber-600">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="hidden md:block">
            <div class="flex items-baseline space-x-4">
              <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="text-white hover:bg-amber-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                aria-current="page">Home</a>
              <a routerLink="explore" routerLinkActive="active"
                class="text-white hover:bg-amber-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Explore</a>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <h1 class="sr-only">Forkify</h1>
          <img alt="Forkify" class="h-8" src="assets/logo.png">
        </div>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <button type="button" (click)="logout()"
              class="text-white hover:bg-amber-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main>
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>