<div class="h-[93vh] overflow-hidden relative">
  <img
    src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
  <div class="absolute inset-0 bg-black bg-opacity-50">
    <div class="w-full h-full flex flex-col items-center justify-center">
      <div>
        <h1 class="text-white text-5xl font-black">Welcome to Catering</h1>
        <p class="mt-6 text-white text-center text-2xl font-medium">The best catering services</p>
        <a routerLink="/explore"
          class="mt-8 max-w-fit mx-auto bg-amber-600 border border-transparent rounded-md py-4 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500"
          type="submit">
          Explore
        </a>
      </div>
    </div>
  </div>
</div>